/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start */
.header {
  height: 60px;
  max-width: 100%;
  background-color: lightgrey;
  gap: 400px;
}

/* header end */

#Login{
  background-color: lightgrey;
  box-shadow: 2px 2px 2px 2px silver;
  height: 300px;
  width: 250px;
 


}

.login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

#email{
  padding: 3px;
}
#password{
  padding: 3px;
}

.textbox{
  margin: 30px;
}
#textbox{
  height: 35px;
  width: 198px;
}
.btn-container{
  display: flex;
  justify-content: center;
}