* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start */
.header {
  height: 60px;
  max-width: 1009%;
  background-color: lightgrey;
  gap: 400px;
}

/* header end */

/* sign up form start */

.MainDiv{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#SignUp {
  background-color: lightgray;
  box-shadow: 2px 2px 2px 2px silver;
  height: 320px;
  width: 250px;
  margin: auto;
  
}

.Div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.DivBTN {
  display: flex;
  justify-content: center;
}

#name {
  padding: 5px;
}

#email {
  padding: 5px;
}
#password {
  padding: 5px;
}
#signupBTN {
  height: 30px;
  border: none;
  width: 210px;

}

/* sign up form end */
