* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start */
.header {
  height: 60px;
  max-width: 1009%;
  background-color: rgb(82, 89, 82);
  gap: 400px;
}

/* header end */

/* sign up form start */
.Title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 40px; */
  margin-top: 10px;
}
.MainDiv{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
}
#SignUp {
  background-color: rgb(82, 89, 82);
  box-shadow: 2px 2px 2px 2px silver;
  color: lightgrey;
  height: 410px;
  width: 310px;
  margin: auto;
  
}

.Div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.DivBTN {
  display: flex;
  justify-content: center;
}

#name {
  padding: 5px;
}

#email {
  padding: 5px;
}
#password {
  padding: 5px;
}
#signupBTN {
  height: 34px;
  border: none;
  width: 87%;
  margin-top: 10px;
  margin-bottom: 20px;
 
}

.Login{
  display: flex;
  justify-content: center;
}

/* sign up form end */


/* form validation mate */
.passed{
  
  outline:1.5px solid green ;
}
.error{
  
  outline:1.5px solid red ;

}

/* ----- */
#newuser,
#alreday {
  position: absolute;
  top: 90px;
  right: 650px;
  display: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: green;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#alreday {
  color: red;
  margin-bottom: 10px;
}

#success i,
#alreday i {
  padding-right: 5px;
} 
