*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border: 2px solid red;
    border-radius: 20px;
}

.contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
}