
        body {
        
            text-align: center;
            margin-top: 150px;
        }
      
        button {
            font-size: 20px;
            margin: 5px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            background-color: antiquewhite;
            border-radius: 10px;
        }
        button:hover{
            border: 2px solid violet;
        }

        #counter{
            font-size: 35px;
            margin: 20px;
        }
   